<div class="container-fluid">
  <div class="row">
    <div class="col-10 ">
      <app-principal></app-principal>
    </div>
    <div class="col-2 lateral">
      <app-panel-notificaciones></app-panel-notificaciones>
    </div>
  </div>
</div>
