<!--<div *ngIf="showForm">
  <form [formGroup]="formElement" (ngSubmit)="save()">-->
<div class="form-group col-12 pad-0">
  <!--<div class="form-group" [ngClass]="showError && (!formElement.controls.FechaComienzo.valid) ? 'has-danger' : '' ">-->
  <label for="inputDireccion">Fecha inicio</label>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar fecha_icon_Laz"></span>
    </span>
    <input type="date" class="form-control" placeholder="dd-mm-aaaa" title="dd-mm-aaaa" pattern="[\d+]{4}-(0[1-9]|1[0-2])-([0-2]\d|3[0,1])"
      required="" name="fechaInicio" [(ngModel)]="fechaInicial">
  </div>
  <div *ngIf="errorFechaInicioNull" class="form-control-feedback">Fecha de inicio obligatoria</div>
  <!--</div>-->
</div>
<div class="form-group col-12 pad-0">
  <label for="inputDireccion">Fecha fin</label>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar fecha_icon_Laz"></span>
    </span>
    <input type="date" class="form-control" placeholder="aaaa-mm-dd" title="aaaa-mm-dd" pattern="[\d+]{4}-(0[1-9]|1[0-2])-([0-2]\d|3[0,1])"
      required="" name="fechaFin" [(ngModel)]="fechaFinal" value="">
  </div>
  <div *ngIf="errorFechaFinNull" class="form-control-feedback">Fecha de fin obligatoria</div>
</div>
<div class="form-group col-12 pad-0">
  <div *ngIf="fechasSolapadas" class="form-control-feedback">Las fechas no se deben solapar</div>
</div>
<div class="form-group col-12 pad-0">
<div class="row  p-1">
  <div class="col-12">
    <button type="button" class="btn btn-info full-width" (click)="obtenerReporte()">Obtener reporte</button>
  </div>
</div> 
<div class="row  p-1">
  <div class="col-12 btn-exportar">
    <button type="button" class="btn btn-secondary full-width" (click)="exportar()">Exportar</button>
  </div>
</div>
</div>
<!-- </form>
</div>

<div class="text-center" *ngIf="!showForm">
  <i class="fa fa-spinner fa-spin fa-2x"></i>
</div>
--->