<!--<div *ngIf="showForm">
  <form [formGroup]="formElement" (ngSubmit)="save()">-->
<div class="form-group col-12 pad-0">
  <!--<div class="form-group" [ngClass]="showError && (!formElement.controls.FechaComienzo.valid) ? 'has-danger' : '' ">-->
  <label for="inputDireccion">Fecha</label>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar fecha_icon_Laz"></span>
    </span>
    <input type="date" class="form-control" placeholder="dd-mm-aaaa" title="dd-mm-aaaa" pattern="[\d+]{4}-(0[1-9]|1[0-2])-([0-2]\d|3[0,1])"
      required="" name="fecha" [(ngModel)]="fecha">
  </div>
  <div *ngIf="errorFechaNull" class="form-control-feedback">Es obligatorio seleccionar una fecha</div>
  <!--</div>-->
</div>
<div class="form-group col-12 pad-0">
  <label for="inputDireccion">Turno</label>
  <select class="form-control" [(ngModel)]="turnoSeleccionado">
    <option value="">Seleccionar turno</option>
    <option *ngFor="let turno of turnos" [ngValue]="turno.TurnoId">
      {{turno.Descripcion}}</option>
  </select>
  <div *ngIf="errorTurnoNull" class="form-control-feedback">Es obligatorio seleccionar un turno</div>
</div>
<div class="form-group col-12 pad-0">
  <label for="dropVisualizacion">Mostrar contenedores</label>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" id="chkActivas" [(ngModel)]="checkBoxVaciado">
    <label for="chkActivas">Vaciados</label>
  </div>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="checkBoxNoVaciado">
    <label for="">No vaciados</label>
  </div>
  <div *ngIf="!checkBoxVaciado && !checkBoxNoVaciado" class="form-control-feedback">Se debe seleccionar si se desea visualizar los contenedores vacíados/no vaciados</div>
</div>
<div class="form-group col-12 pad-0"> 
<div class="row  p-1">
  <div class="col-12">
    <button type="button" class="btn btn-info full-width" (click)="obtenerReporte()">Obtener reporte</button>
  </div>
</div> 
<div class="row  p-1">
  <div class="col-12 btn-exportar">
    <button type="button" class="btn btn-secondary full-width" (click)="exportar()">Exportar</button>
  </div>
</div>
</div>

