<div class="card" [class.card-selected]="isSelected" [ngStyle]="alerta.roto && {'background-color': 'LightGray '}">
    <div class="card-body">
        <h5 class="card-title">{{alerta.Tipo | uppercase}}</h5>
        <h5 class="card-title" color="maroon;" *ngIf="alerta.roto">{{'ESTADO OFFLINE' | uppercase}}</h5>
        <ul class="card-text">
            <li>Emitida:<strong> {{alerta.FechaInicio }}</strong></li>
            <li>Municipio:<strong> {{alerta.Municipio}}</strong></li>
            <li>Circuito:<strong> {{alerta.Circuito}}</strong></li>
        </ul>
        <!--
    <p class="card-text">
        Emitida:{{alerta.emision}}
    </p>
  -->

        <a class="btn btn-info btn-sm" style="margin-right: 3px;" (click)="desplegarAlertaEnMapa()">Ver en mapa</a>

        <a class="btn btn-danger btn-sm" *ngIf="alerta.roto" (click)="desactivarAlerta()">Desactivar</a>


        <!--<app-mapa-flotante-alerta *ngIf="verEnMapaClickeado"></app-mapa-flotante-alerta>-->

    </div>
</div>