.card {
    margin-bottom: 0.25rem; 
}

.card-selected {
    background: greenyellow;
}

.card-body {
    padding: 0.75rem
}

.card-text {
    list-style-type: none;
    padding-left: 0;
}
.card-text > li {
    margin-left: 0;
}
