<form [formGroup]="form" (ngSubmit)="guardarNuevaContrasena()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edición contraseña</h5>
            <button type="button" class="close" (click)="activeModal.close('Closed from Close button')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-2 col-form-label">Contraseña anterior</label>
              <div class="col-md-8">
                <input class="form-control" 
                [ngClass]="{'is-invalid': !form.controls['contraseña1'].valid && form.controls['contraseña1'].touched}"
                  type="password" 
                  placeholder="Ingrese la contraseña anterior" 
                  formControlName="contraseñaVieja" 
                  (click)="clickFormsInput()">
                <div *ngIf="form.controls['contraseñaVieja'].errors?.emptyValue && form.controls['contraseñaVieja'].touched" class="form-control-feedback">
                  Campo obligatorio.
                </div>
                <div *ngIf="form.controls['contraseñaVieja'].errors?.minlength && form.controls['contraseñaVieja'].touched" class="form-control-feedback">
                  La contraseña debe contener como mínimo {{form.controls['contraseñaVieja'].errors.minlength.requiredLength}} caracteres.
                </div>
              </div>
            </div>
            <div class="form-group row" >
              <label class="col-2 col-form-label">Nueva contraseña</label>
              <div class="col-md-8">
                <input class="form-control" 
                [ngClass]="{'is-invalid': !form.controls['contraseña1'].valid && form.controls['contraseña1'].touched}"
                  type="password" 
                  placeholder="Ingrese la contraseña nueva " 
                  formControlName="contraseña1" 
                  (click)="clickFormsInput()">
                <div *ngIf="form.controls['contraseña1'].errors?.emptyValue && form.controls['contraseña1'].touched" class="form-control-feedback">
                  La contraseña es obligatoria.
                </div>
                <div *ngIf="form.controls['contraseña1'].errors?.minlength && form.controls['contraseña1'].touched" class="form-control-feedback">
                  La contraseña debe contener como mínimo {{form.controls['contraseña1'].errors.minlength.requiredLength}} caracteres.
                </div>
              </div>
            </div>
            <div class="form-group row" >
              <label class="col-2 col-form-label">Confirmar contraseña</label>
              <div class="col-md-8">
                <input class="form-control" 
                [ngClass]="{'is-invalid': !form.controls['contraseña2'].valid && form.controls['contraseña2'].touched}"
                  type="password" 
                  placeholder="Confirme la contraseña nueva" 
                  formControlName="contraseña2" 
                  (click)="clickFormsInput()">
                <div *ngIf="form.controls['contraseña2'].errors?.emptyValue && form.controls['contraseña2'].touched" class="form-control-feedback">
                  La contraseña es obligatoria.
                </div>
                <div *ngIf="form.controls['contraseña2'].errors?.passDiferentes && form.controls['contraseña2'].touched" class="form-control-feedback">
                  Las contraseñas no coinciden.
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="error!=''">
            <div class="col-12 form-control-feedback">
              {{error}}
            </div>
          </div>
          <div class="row" *ngIf="mensaje!=''">
            <div class="col-12 msj-exitoso">
              {{mensaje}}
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="activeModal.close('Closed from Close button')">Cerrar</button>
          </div>
        </div>
      </form>
      
      
      