

<div class="row mt-2 divDimension" >
  <div class="col-12">
    <!-- systemHistory.HistoryGridData-->
    <ngx-datatable [rows]="contenidoReporte.itemsReporte" 
    class="material striped" 
    [columnMode]="'force'" 
    [selectionType]="'single'" 
      [scrollbarH]="true" 
      [headerHeight]="25" 
      [footerHeight]="70" 
      [rowHeight]="25" 
      (select)='onSelect($event)'>

      <ngx-datatable-column name="Municipio" prop="Municipio"></ngx-datatable-column>
      <!--<ngx-datatable-column name="Description" prop=""></ngx-datatable-column>-->
      <!--<ngx-datatable-column name="ID" prop="HistTableKey"></ngx-datatable-column>-->
      <!--<ngx-datatable-column name="Field" prop="HistField"></ngx-datatable-column>-->
      <ngx-datatable-column name="Circuito" [width]="50" prop="Circuito"></ngx-datatable-column>
     
      <!--<ngx-datatable-column name="Status" [width]="40" prop="Status" > </ngx-datatable-column>-->

    </ngx-datatable>
  </div>
</div>
