<div class="form-group col-12 pad-0">
    <label for="dropVisualizacion">Seleccionar reporte</label>
    <select class="form-control" [(ngModel)]="reporteSeleccionado" (change)="cambioReporte()">
    <option value="ContVaciadosEnTurno">Contenedores vaciados en un turno determinado</option>
    <option value="Alertas">Histórico alertas</option>
    <option value="Recolecciones">Histórico de recolecciones</option>
    <option value="LlenadoRecolecc">Llenado promedio de recolección</option>
    <option value="TiempoRecolecc">Tiempo promedio de recolección</option>
    

    <!--<option *ngFor="let billingEntity of ['1','2', '3']">
      {{billingEntity}}</option>
    -->
  </select>
</div>

<app-vis-reporte-alertas *ngIf="reporteSeleccionado=='Alertas'" [filtroMunicipio]="filtroMunicipio" [filtroCircuito]="filtroCircuito"></app-vis-reporte-alertas>
<app-vis-reporte-llenado-prom-recoleccion *ngIf="reporteSeleccionado=='LlenadoRecolecc'" (respuestaReporteEmitida)="enviarRespReporte($event)" [filtroMunicipio]="filtroMunicipio" [filtroCircuito]="filtroCircuito"></app-vis-reporte-llenado-prom-recoleccion>
<app-vis-reporte-tiempo-prom-recoleccion *ngIf="reporteSeleccionado=='TiempoRecolecc'" (respuestaReporteEmitida)="enviarRespReporte($event)" [filtroMunicipio]="filtroMunicipio" [filtroCircuito]="filtroCircuito"></app-vis-reporte-tiempo-prom-recoleccion>
<app-vis-reporte-vaciados-turno *ngIf="reporteSeleccionado=='ContVaciadosEnTurno'" (respuestaReporteEmitida)="enviarRespReporte($event)" [filtroMunicipio]="filtroMunicipio" [filtroCircuito]="filtroCircuito"></app-vis-reporte-vaciados-turno>
<app-vis-reporte-historico-recolecciones *ngIf="reporteSeleccionado=='Recolecciones'" (respuestaReporteEmitida)="enviarRespReporte($event)" [filtroMunicipio]="filtroMunicipio" [filtroCircuito]="filtroCircuito"></app-vis-reporte-historico-recolecciones>