.ngx-datatable .datatable-header .datatable-header-cell {
    padding: .3rem 0.3rem !important;
    font-weight: 600 !important;
    color: #333131 !important;
    line-height: 1.42857 !important;
    font-size: 14px;
}

.ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell {
    height: auto !important;
    padding: 0.1rem 0.2rem !important;
    font-size: 13px;
}

.ngx-datatable>thead>tr>th,
.ngx-datatable>tbody>tr>th,
.ngx-datatable>tfoot>tr>th,
.ngx-datatable>thead>tr>td,
.ngx-datatable>tbody>tr>td,
.ngx-datatable>tfoot>tr>td {
    border: 1px solid #e7e7e7;
}

.ngx-datatable .datatable-body .datatable-body-cell {
    border: 1px solid #e7e7e7;
}

.ngx-datatable .datatable-header .datatable-header-cell {
    border: 1px solid #e7e7e7;
}

.ngx-datatable.border-table.striped .datatable-row-odd {
    background: #f9f9f9 !important;
}

.material .datatable-checkbox {
    padding: 0px;
}

.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-groupe {
    background: #79bdcd;
    color: black;
}

.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
    background: #79bdcd;
    color: black;
}