.filtros {
     height: 85px;
     background: rgba(0, 0, 0, 0.5);
     border-radius: 0 0 100px 0;
}

.filtros .form-group label {
    color: white;
    font-weight: 700;
}
.columnaSeleccion {
    background: #ffffffbd;
    height: calc(100vh - 9.5rem);
    overflow-y: scroll;
    padding: 10px 0px;
}

.columnaSeleccion .form-group {
    margin-bottom: 0.5;
}

.columnaMapa {
    height: 100%;
}

.btn-exportar {
    bottom: -32px;
}