<div class="row filtros p-1">
    <div class="form-group col-3">
        <label for="dropMunicipio">Municipio</label>
        <select class="form-control" [(ngModel)]="municipioSeleccionado" (change)="municipioSeleccionadoChange()">
      <option value="">Seleccionar</option>
      <option *ngFor="let municipio of municipios" [ngValue]="municipio">
        {{municipio.Codigo}}</option>
    </select>
    </div>
    <div class="form-group col-3">
        <label for="dropCircuito">Circuito</label>
        <select class="form-control" [(ngModel)]="circuitoSeleccionado">
      <option value="">Seleccionar</option>
      <option *ngFor="let circuito of circuitos" [ngValue]="circuito">
        {{circuito.Codigo}}</option>
    </select>
    </div>
    <!--
  <div class="form-group col-3">
    <label for="inputDireccion">Dirección</label>
    <input type="text" class="form-control" id="inputDireccion" aria-label="Username" aria-describedby="basic-addon1">

  </div>
  -->

</div>

<div class="row">
    <div class="col-3 columnaSeleccion">
        <div class="form-group col-12 pad-0">
            <label for="dropVisualizacion">
        <b>Tipo de visualización</b>
      </label>
            <select class="form-control" [(ngModel)]="visualizacionSeleccionada">
        <option value="TiempoReal">Tiempo Real</option>
        <option value="Reportes">Reportes</option>
      </select>
        </div>
        <app-visualizacion-reportes *ngIf="visualizacionSeleccionada=='Reportes'" (tieneVisualizacionMapa)="setearReporteSeleccionadoVisualizacionMapa($event)" (respuestaReporteEmitida)="enviarRespReporte($event)" [filtroMunicipio]="municipioSeleccionado" [filtroCircuito]="circuitoSeleccionado"></app-visualizacion-reportes>
        <!--<app-visualizacion-reportes *ngIf="visualizacionSeleccionada=='Reportes'" (tipoReporteSeleccionado)="setearReporte($event)"  [filtroMunicipio]="municipioSeleccionado" [filtroCircuito]="circuitoSeleccionado"></app-visualizacion-reportes>-->
        <app-visualizacion-tiempo-real *ngIf="visualizacionSeleccionada=='TiempoReal'" (objetoDatosSeleccionados)="setearDatosRecibidosPorTiempoReal($event)"></app-visualizacion-tiempo-real>
        <!--<app-visualizacion-tiempo-real *ngIf="visualizacionSeleccionada=='TiempoReal'"  (seleccionAenviar)="setearDatosRecibidosPorHijoTiempoReal($event)"></app-visualizacion-tiempo-real>-->
        <!--<app-visualizacion-tiempo-real *ngIf="visualizacionSeleccionada=='TiempoReal'"  (infoPorcentajeLlenado)="setearEnMapaPorcLlenado($event)"></app-visualizacion-tiempo-real>-->
    </div>


    <div class="col-9 columnaMapa">
        <app-mapa-tiempo-real *ngIf="visualizacionSeleccionada=='TiempoReal'" [datosVentanaTiempoReal]="datosSeleccionadosTiempoReal" [filtroMunicipio]="municipioSeleccionado" [filtroCircuito]="circuitoSeleccionado"></app-mapa-tiempo-real>

        <!--<app-mapa-reportes *ngIf="conVisualizacionMapa" [contenidoReporte]="reporte" ></app-mapa-reportes>-->

        <app-mapa-reportes *ngIf="conVisualizacionMapa" [contenidoReporte]="reporte"></app-mapa-reportes>
        <div *ngIf="!conVisualizacionMapa" class="splash-text">Reporte sin previsualizacion con mapa</div>
        <!--<app-mapa-reportes *ngIf="visualizacionSeleccionada=='Reportes'" [contenidoReporte]="reporte" ></app-mapa-reportes>-->


        <!--<app-grilla-reporte-alertas *ngIf="!conVisualizacionMapa" [contenidoReporte]="reporte"></app-grilla-reporte-alertas>-->


        <!--<app-mapa-reportes *ngIf="visualizacionSeleccionada=='Reportes'" [tipoDeReporte]="tipoReporte" ></app-mapa-reportes>-->

        <!--<app-mapa-tiempo-real *ngIf="visualizacionSeleccionada=='TiempoReal'" [seleccionPanelTiempoReal]="itemsSeleccionadosTiempoReal" [prueba]="i"></app-mapa-tiempo-real>-->
        <!--    <app-mapa-tiempo-real *ngIf="visualizacionSeleccionada=='TiempoReal'" [visualizarPorcentajeLLenado]="variable" ></app-mapa-tiempo-real>-->
    </div>




</div>