<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/img/im.png" width="40" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['inicio']">Home
          <span class="sr-only">(current)</span>
        </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="tieneAccesoAConfigs">
                <a class="nav-link" [routerLink]="['contenedores']">Contenedores</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="tieneAccesoAConfigs">
                <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="tieneAccesoAConfigs">
                <a class="nav-link" [routerLink]="['circuitos']">Circuitos</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="tieneAccesoAConfigs">
                <a class="nav-link" [routerLink]="['configuraciones']">Configuraciones</a>
            </li>
            <!--  <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['configuraciones']">Configuraciones</a>
      </li>
      -->
            <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
            <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{datosUsuario}}
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="authService.logout()">Logout</a>
                </div>
            </li>
            <li>
                <li>

                </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  -->
    </div>
</nav>