/*@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
*/
ngx-datatable {
    height: calc(100vh - 250px) !important;
    min-height: 300px;
}