<div class="container-fluid">
    <div class="row">
        <div class="col-10" style="margin-top: 30px; background: white;">
            <div class="row justify-content-end p-5">
                <div class="col-2">
                    <button type="button" class="btn btn-primary full-width" (click)="crearUsuario()">Crear usuario</button>
                </div>
            </div>
            <div class="row  p-1">
                <div class="col-12">
                    <ngx-datatable class="bootstrap" [rows]="usuarios" [columnMode]="'force'" [selected]="usuarioSeleccionado" [selectionType]="'single'" [footerHeight]="0" [scrollbarV]="true" [rowHeight]="43" (select)='onSelectProduct($event)'>
                        <ngx-datatable-column name="" [width]="30" [minWidth]="30" [maxWidth]="50" [sortable]="true">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button type="button" (click)="editarUsuario(row)" class="btn btn-info btn-edit-row">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Nombre" prop="Nombre"></ngx-datatable-column>
                        <ngx-datatable-column name="Apellido" prop="Apellido"></ngx-datatable-column>
                        <ngx-datatable-column name="Correo electrónico" prop="Email"></ngx-datatable-column>
                        <ngx-datatable-column name="Rol" prop="RolUsuario.Descripcion"></ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
        <div class="col-2 lateral">
            <app-panel-notificaciones></app-panel-notificaciones>
        </div>
    </div>
</div>

<!--
<div class="container-fluid">
 



</div>
-->