<div class="form-group col-12 pad-0">
    <label for="dropVisualizacion">
    <b>Información a visualizar</b>
  </label>
    <div>
        <input id="chk-resaltar-con-alertas" type="checkbox" aria-label="Checkbox for following text input" (change)="mostrarInfoAlertasClick()" [(ngModel)]="mostrarAlertasCheckbox">
        <label for="chk-resaltar-con-alertas">Resaltar contenedores con alertas</label>
    </div>
    <div>
        <input id="chk-porc-llenado" type="checkbox" (change)="porcentajeLlenadoClick()" [(ngModel)]="porcentajeLlenadoCheckbox" aria-label="Checkbox for following text input">
        <label for="chk-porc-llenado">Mostrar porcentaje de llenado</label>
    </div>
</div>
<div class="form-group col-12 pad-0">
    <div>
        <label for="dropVisualizacion">
      <b>Filtros</b>
    </label>
    </div>
    <label for="dropVisualizacion" class="light-bold">Nivel de llenado</label>
    <select class="form-control" [(ngModel)]="nivelLlenado" (change)="nivelLlenadoClick()">
    <option value="">Seleccionar</option>
    <option value="bajo">Bajo</option>
    <option value="medio">Medio</option>
    <option value="alto">Alto</option>
    <!--<option *ngFor="let billingEntity of ['1','2', '3']">
        {{billingEntity}}</option>
      -->
  </select>

</div>
<div class="form-group col-12 pad-0">


    <label for="dropVisualizacion" class="light-bold">Alertas</label>
    <div>

        <input type="checkbox" [(ngModel)]="selectedAllAlertas" (change)="selectAllAlertas();" [disabled]="!mostrarAlertasCheckbox" />
        <div *ngFor="let alerta of alertas ; let i= index">
            <input type="checkbox" id="{{i}}" [(ngModel)]="alerta.selected" (change)="checkIfAllSelectedAlertas(alerta);" [disabled]="!mostrarAlertasCheckbox">
            <label for="{{i}}">{{alerta.name}}</label>
        </div>

    </div>

    <!--
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="todasAlertas" (change)="todasAlertasChequeadas()">
    <label for=""></label>
  </div>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="incendioAlerta" [checked]="checkTodasAlertas"
      (change)="alertaIncendioChecked()">
    <label for="">Incendio</label>
  </div>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" [checked]="checkTodasAlertas">
    <label for="">Seres vivos</label>
  </div>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" [checked]="checkTodasAlertas">
    <label for="">Funcionamiento</label>
  </div>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" [checked]="checkTodasAlertas">
    <label for="">Volcado</label>
  </div>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" [checked]="checkTodasAlertas">
    <label for="">Sin alertas</label>
  </div>
  -->
</div>