<form [formGroup]="form" (ngSubmit)="guardarUsuario()">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{titulo}}</h5>
            <button type="button" class="close" (click)="activeModal.close('Closed from Close button')">
        <span aria-hidden="true">×</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-8">
                    <input class="form-control" [ngClass]="{'is-invalid': !form.controls['nombre'].valid && form.controls['nombre'].touched}" type="text" placeholder="Nombre" formControlName="nombre" (click)="clickFormsInput()">
                    <div *ngIf="!form.controls['nombre'].valid && form.controls['nombre'].touched" class="form-control-feedback">
                        El nombre es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Apellido</label>
                <div class="col-8">
                    <input class="form-control" [ngClass]="{'is-invalid': !form.controls['apellido'].valid && form.controls['apellido'].touched}" type="text" placeholder="Apellido" formControlName="apellido" (click)="clickFormsInput()">
                    <div *ngIf="!form.controls['apellido'].valid && form.controls['apellido'].touched" class="form-control-feedback">
                        El apellido es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Correo</label>
                <div class="col-md-8">
                    <input class="form-control" [ngClass]="{'is-invalid': !form.controls['correo'].valid && form.controls['correo'].touched && !form.controls['correo'].pending}" type="email" placeholder="Correo electrónico" formControlName="correo" (click)="clickFormsInput()">
                    <div *ngIf="form.controls['correo'].errors?.emptyValue && form.controls['correo'].touched" class="form-control-feedback">
                        El correo electrónico es obligatorio.
                    </div>
                    <div *ngIf="form.controls['correo'].errors?.pattern && form.controls['correo'].touched" class="form-control-feedback">
                        El correo electrónico no es válido.
                    </div>
                    <div *ngIf="form.controls['correo'].errors?.mailEnUso && form.controls['correo'].touched" class="form-control-feedback">
                        El correo electrónico ya se encuentra en uso, especifique uno diferente.
                    </div>
                    <div *ngIf="form.controls['correo'].errors?.errorVerificacionMail && form.controls['correo'].touched" class="form-control-feedback">
                        Error validando correo electrónico. Intente nuevamente más tarde.
                    </div>
                </div>
                <div *ngIf="form.controls['correo'].pending && !form.controls['correo'].pristine" class="loader">
                </div>
            </div>
            <div class="form-group row" *ngIf="alta">
                <label class="col-2 col-form-label">Contraseña</label>
                <div class="col-md-8">
                    <input class="form-control" [ngClass]="{'is-invalid': !form.controls['contraseña1'].valid && form.controls['contraseña1'].touched}" type="password" placeholder="Ingrese la contraseña" formControlName="contraseña1" (click)="clickFormsInput()">
                    <div *ngIf="form.controls['contraseña1'].errors?.emptyValue && form.controls['contraseña1'].touched" class="form-control-feedback">
                        La contraseña es obligatoria.
                    </div>
                    <div *ngIf="form.controls['contraseña1'].errors?.minlength && form.controls['contraseña1'].touched" class="form-control-feedback">
                        La contraseña debe contener como mínimo {{form.controls['contraseña1'].errors.minlength.requiredLength}} caracteres.
                    </div>
                </div>
            </div>
            <div class="form-group row" *ngIf="alta">
                <label class="col-2 col-form-label">Confrimar contraseña</label>
                <div class="col-md-8">
                    <input class="form-control" [ngClass]="{'is-invalid': !form.controls['contraseña2'].valid && form.controls['contraseña2'].touched}" type="password" placeholder="Ingrese la misma contraseña" formControlName="contraseña2" (click)="clickFormsInput()">
                    <div *ngIf="form.controls['contraseña2'].errors?.emptyValue && form.controls['contraseña2'].touched" class="form-control-feedback">
                        La contraseña es obligatoria.
                    </div>
                    <div *ngIf="form.controls['contraseña2'].errors?.passDiferentes && form.controls['contraseña2'].touched" class="form-control-feedback">
                        Las contraseñas no coinciden.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Rol</label>
                <div class="col-md-8">
                    <select class="form-control" formControlName="rol" [ngClass]="{'is-invalid': !form.controls['rol'].valid && form.controls['rol'].touched}" (click)="clickFormsInput()">
                      <option value="">Seleccionar</option>
                      <option *ngFor="let rol of roles" [ngValue]="rol.RolId">{{rol.Descripcion}}</option>
                    </select>
                    <div *ngIf="form.controls['rol'].errors?.required && form.controls['rol'].touched" class="form-control-feedback">
                        Se debe seleccionar un rol.
                    </div>
                </div>
            </div>
            <div class="row justify-content-end col-11" *ngIf="!alta">
                <button class="col-6 btn btn-primary" (click)="cambiarPassword()">Cambiar contraseña</button>
            </div>
            <div class="row" *ngIf="error!=''">
                <div class="col-12 form-control-feedback">
                    {{error}}
                </div>
            </div>

            <div class="row" *ngIf="mensaje!=''" style="width: 100%;margin: 15px;">
                <div class="alert alert-success" role="alert">
                    {{mensaje}}
                </div>
            </div>



            <!--<div class="col-12 msj-exitoso">
        {{mensaje}}
      </div>
    -->
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="activeModal.close('Closed from Close button')">Cerrar</button>
        </div>
    </div>
</form>


<!--<div class="container-fluid">


  <h4>{{titulo}}

  </h4>
  <hr>
  <form [formGroup]="form" (ngSubmit)="guardarUsuario()">
    <div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
          <input class="form-control" [ngClass]="{'is-invalid': !form.controls['nombre'].valid && form.controls['nombre'].touched}"
            type="text" placeholder="Nombre" formControlName="nombre">

          <div *ngIf="!form.controls['nombre'].valid && form.controls['nombre'].touched" class="form-control-feedback">
            El nombre es obligatorio
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">

          <input class="form-control" [ngClass]="{'is-invalid': !form.controls['apellido'].valid && form.controls['apellido'].touched}"
            type="text" placeholder="Apellido" formControlName="apellido">
          <div *ngIf="!form.controls['apellido'].valid && form.controls['apellido'].touched" class="form-control-feedback">
            El apellido es obligatorio
          </div>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-md-8">

        <input class="form-control" [ngClass]="{'is-invalid': !form.controls['correo'].valid && form.controls['correo'].touched && !form.controls['correo'].pending}"
          type="email" placeholder="Correo electrónico" formControlName="correo">

        <div *ngIf="form.controls['correo'].errors?.emptyValue && form.controls['correo'].touched" class="form-control-feedback">
          El correo electrónico es obligatorio.
        </div>
        <div *ngIf="form.controls['correo'].errors?.pattern && form.controls['correo'].touched" class="form-control-feedback">
          El correo electrónico no es válido.
        </div>
        <div *ngIf="form.controls['correo'].errors?.mailEnUso && form.controls['correo'].touched" class="form-control-feedback">
          El correo electrónico ya se encuentra en uso, especifique uno diferente.
        </div>
        <div *ngIf="form.controls['correo'].errors?.errorVerificacionMail && form.controls['correo'].touched" class="form-control-feedback">
          Error validando correo electrónico. Intente nuevamente más tarde.
        </div>
      </div>
      <div *ngIf="form.controls['correo'].pending && !form.controls['correo'].pristine" class="loader">
      </div>


    </div>

    <div class="form-group row" *ngIf="alta">
      <label class="col-2 col-form-label">Contraseña</label>
      <div class="col-md-8">

        <input class="form-control" [ngClass]="{'is-invalid': !form.controls['contraseña1'].valid && form.controls['contraseña1'].touched}"
          type="password" placeholder="Ingrese la contraseña" formControlName="contraseña1">

        <div *ngIf="form.controls['contraseña1'].errors?.emptyValue && form.controls['contraseña1'].touched" class="form-control-feedback">
          La contraseña es obligatoria.
        </div>
        <div *ngIf="form.controls['contraseña1'].errors?.minlength && form.controls['contraseña1'].touched" class="form-control-feedback">
          La contraseña debe contener como mínimo {{form.controls['contraseña1'].errors.minlength.requiredLength}} caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="alta">
      <label class="col-2 col-form-label">Confrimar contraseña</label>
      <div class="col-md-8">

        <input class="form-control" [ngClass]="{'is-invalid': !form.controls['contraseña2'].valid && form.controls['contraseña2'].touched}"
          type="password" placeholder="Ingrese la misma contraseña" formControlName="contraseña2">
        <div *ngIf="form.controls['contraseña2'].errors?.emptyValue && form.controls['contraseña2'].touched" class="form-control-feedback">
          La contraseña es obligatoria.
        </div>
        <div *ngIf="form.controls['contraseña2'].errors?.passDiferentes && form.controls['contraseña2'].touched" class="form-control-feedback">
          Las contraseñas no coinciden.
        </div>
      </div>
    </div>




    <div class="form-group row">
      <label class="col-2 col-form-label">Rol</label>
      <div class="col-md-8">
        <select class="form-control" 
       
        formControlName="rol"
        [ngClass]="{'is-invalid': !form.controls['rol'].valid && form.controls['rol'].touched}">
          <option value="">Seleccionar</option>
          <option *ngFor="let rol of roles" [ngValue]="rol.RolId">
            {{rol.Descripcion}}</option>
        </select>
        <div *ngIf="form.controls['rol'].errors?.required && form.controls['rol'].touched" class="form-control-feedback">
          Se debe seleccionar un rol.
        </div>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <!--<button type="submit" class="btn btn-outline-primary" [disabled]="!form.valid || form.pending">-->
<!--//        <button type="submit" class="btn btn-outline-primary">
            Guardar
          </button>
        </div>
      </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <!--<button type="submit" class="btn btn-outline-primary" [disabled]="!form.valid || form.pending">-->
<!--//       <button type="submit" class="btn btn-outline-primary">
          Guardar
        </button>
      </div>
    </div>

    <div *ngIf="erroresParaDesplegar!=null" class="form-control-feedback">
      {{erroresParaDesplegar}}.
    </div>

  </form>

</div>
-->