.login__section {
    min-height: 100vh;
    width: 100%;
    display: table;
    background-color: #F2F4F6;
    padding: 5em 15px;
}

.login__window {
    display: table-cell;
    vertical-align: middle;
}

.login__window--wrap {
    max-width: 460px;
    width: 100%;
    margin: auto;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 12px 25px 1px rgba(0, 0, 0, 0.05);
}

.login__window--logo {
    text-align: center;
    /*padding-top: 3.8em;
    padding-bottom: 3.4em;*/
    border-bottom: 1px solid #E1E3E6;
}

    .login__window--logo img {
        width: 190px;
        /*margin-bottom: 2px;*/
    }

    .login__window--logo p {
        /*padding-left: 70px;*/
    }

.login__window--form {
    padding: 1.5em;
}

    .login__window--form label {
        font-weight: 400;
        color: #868686;
    }

    .login__window--form input {
        width: 100%;
        height: 44px;
        line-height: 44px;
        border: 1px solid #D7D9DD;
        border-radius: 22px;
        margin-bottom: 1em;
        padding-left: 20px;
        transition: all .3s ease;
        font-family: "Open Sans", sans-serif;
        color: #242729;
    }

        .login__window--form input:hover, .login__window--form input:focus {
            border-color: #3095b4;
        }

    .login__window--form .btn-submit {
        background-color: #005172;
        height: 44px;
        border-radius: 22px;
        color: white;
        outline: none;
        border: none;
        transition: all .3s ease;
        width: 190px;
        margin: auto;
        display: block;
        font-weight: 600;
    }

        .login__window--form button[type="submit"]:hover {
            background-color: #003f59;
        }

.login__window--footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4em;
    text-align: center;
}

    .login__window--footer p {
        margin-bottom: 0;
    }

    .login__window--footer a {
        color: #868686;
    }

        .login__window--footer a:hover {
            color: #606060;
        }

@media (max-width: 420px) {
    .login__window--form {
        padding-left: 2.3em;
        padding-right: 2.3em;
    }
}
