<section class="login__section">
  <div class="login__window">
    <div class="login__window--wrap">
      <div class="login__window--logo">
        <img src="assets/img/im_letras.png">
        <p class="m-b-0 p-partner">Sistema de gestión de contenedores inteligentes</p>
      </div>
      <div class="login__window--form">
        <form action="#" class="" method="post" role="form" novalidate="novalidate" (submit)="ingresar()">
          <div class="form-group">
            <label for="UserName">Correo electrónico</label>
            <input type="text" class="m-b-2 form-control" [(ngModel)]="usuario.mail" name="username">
          </div>
          <div class="form-group">
            <label for="Password">Contraseña</label>
            <input type="password" class="m-b-3 form-control" [(ngModel)]="usuario.pass" name="password">
          </div>
          <!--
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="RememberMe" name="RememberMe" [(ngModel)]="rememberMe">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Remember me</span>
            </label>
          </div>
          -->
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-success btn-submit btn-block">
                <i class="fa fa-spinner fa-pulse mr-1" [hidden]="!logging" aria-hidden="true"></i>
                Iniciar sesión</button>
            </div>
          </div>
          <div class="row" *ngIf="error!=''">
            <div class="col-12 form-control-feedback">
              {{error}}
            </div>
          </div>
        </form>
      </div>
      <!--
      <div class="login__window--footer">
        <p>
          <a routerLink="/forgot">Forgot Password</a>
        </p>
      </div>
      -->
    </div>
  </div>
</section>





<!--
<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email" required>
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password" required>
</div>
<div class="form-group">
  <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" [disabled]="formCtrl.form.invalid">
  Login with Email
  
  </button>
</div>
-->