<div class="modal-content">
  <div class="modal-header">
    <!--<div class="row ">
                                            
                            </div>
                    -->
    <h5 class="modal-title">{{tipoDialogo}}</h5>

    <button type="button" class="close" (click)="activeModal.close('Closed from Close button')">

      <span aria-hidden="true">×</span>

    </button>
  </div>
  <div class="modal-body">
    <p>{{mensaje}}</p>

  </div>
  <div class="modal-footer">
      <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <button type="button" class="btn btn-primary" (click)="activeModal.close('Closed from Close button')">Cerrar</button>
    </div>

</div>