<div class="form-group col-12 pad-0">
  <label for="inputDireccion">Fecha inicio</label>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar fecha_icon_Laz"></span>
    </span>
    <input type="date" class="form-control" placeholder="dd-mm-aaaa" title="dd-mm-aaaa" pattern="[\d+]{4}-(0[1-9]|1[0-2])-([0-2]\d|3[0,1])"
      required="" name="fechaInicio" [(ngModel)]="fechaInicial">
  </div>
  <div *ngIf="errorFechaInicioNull" class="form-control-feedback">Fecha de inicio obligatoria</div>
</div>
<div class="form-group col-12 pad-0">
  <label for="inputDireccion">Hora inicio</label>
  <input type="time" class="form-control" placeholder="hh:mm" title="hh:mm" pattern="([0-1]\d|2[0-3]):([0-5]\d)" required=""
    name="horaInicio" value="23:46" [(ngModel)]="horaInicioSeleccionada">
</div>
<div class="form-group col-12 pad-0">
  <label for="inputDireccion">Fecha fin</label>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar fecha_icon_Laz"></span>
    </span>
    <input type="date" class="form-control" placeholder="dd-mm-aaaa" title="dd-mm-aaaa" pattern="[\d+]{4}-(0[1-9]|1[0-2])-([0-2]\d|3[0,1])"
      required="" name="fechaInicio" [(ngModel)]="fechaFinal">
  </div>
  <div *ngIf="errorFechaInicioNull" class="form-control-feedback">Fecha de fin obligatoria</div>
</div>
<div class="form-group col-12 pad-0">
  <label for="inputDireccion">Hora fin</label>
  <input type="time" class="form-control" placeholder="hh:mm" title="hh:mm" pattern="([0-1]\d|2[0-3]):([0-5]\d)" required=""
    name="horaInicio" value="23:46" [(ngModel)]="horaFinSeleccionada">
</div>
<div class="form-group col-12 pad-0">
  <label for="dropVisualizacion">Incluir alertas</label>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" id="chkActivas" [(ngModel)]="checkBoxActivas">
    <label for="chkActivas">Activas</label>
  </div>
  <div>
    <input type="checkbox" aria-label="Checkbox for following text input" id="chkNoActivas" [(ngModel)]="checkBoxNoActivas">
    <label for="chkNoActivas">Inactivas</label>
  </div>
</div>
<div class="form-group col-12 pad-0">
  <label for="dropVisualizacion">Tipo alertas a incluir</label>
  <div>

    <input type="checkbox" [(ngModel)]="selectedAllAlertas" (change)="selectAllAlertas();" 
    />
    <div *ngFor="let alerta of alertas">
      <input type="checkbox" [(ngModel)]="alerta.selected"  (change)="checkIfAllSelectedAlertas(alerta);" > {{alerta.name}}
    </div>

  </div>
 <!-- <div class="row  p-1">
    <div class="col-12">
      <button type="button" class="btn btn-info full-width" (click)="obtenerReporte()">Obtener reporte</button>
    </div>
  </div> 
-->
  <div class="row  p-1">
    <div class="col-12 btn-exportar">
      <button type="button" class="btn btn-secondary full-width" (click)="exportar()">Exportar</button>
    </div>
  </div>
</div>