<!--</div>
<div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">hola</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ng-content></ng-content>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
          </div>
        </div>
        -->
<!--<div class="modal-header">
        <h4 class="modal-title">Modal Title</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        </button>
</div>
<div class="modal-body">
        <p>My modal content</p>
</div>
<div class="modal-footer">
        <button (click)="activeModal.dismiss('Close clicked')">
                Close Clicked
        </button>
</div>


<ng-template let-modal>
-->
<!--
        <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <form>
                        <div class="form-group">
                                <label for="dateOfBirth">Date of birth</label>
                                <div class="input-group">
                                        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                        <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                                        </div>
                                </div>
                        </div>
                </form>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
-->
<!--</ng-template>




<!--<div >
<div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Simple modal</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body" class="divMap">
        <div id="mapaFlotante" >

        </div>
</div>
</div>
-->
<!--
<div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <h4 class="modal-title">Hi there!</h4>
            </div>
            <div class="modal-body card-info">
                <h3 style="color: white;">So nice to meet you</h3>
                <h4 style="color: white;">This modal is great!</h4>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
            </div>

-->

<!--<div clas ="modal custom-class">-->
<div class="modal-content">
        <div class="modal-header">
                <!--<div class="row ">
                                                
                                </div>
                        -->
                <h5 class="modal-title col-4">{{alerta.Tipo}}</h5>
                <h5 class="modal-title col-6 float-right">{{alerta.FechaInicio}}</h5>
                <button type="button" class="close col-2 float-right" (click)="activeModal.close('Closed from Close button')">

                        <span aria-hidden="true">×</span>

                </button>
        </div>
        <div class="modal-body">
                <!--<p>Modal body text goes here nckecke kc ewk ckejModal body text goes here nckecke kc ewk ckejModal body text goes here nckecke kc ewk ckejModal body text goes here nckecke kc ewk ckejModal body text goes here nckecke kc ewk ckejModal body text goes here nckecke kc ewk ckejModal body text goes here nckecke kc ewk ckej.</p>-->
                <div id="mapaFlotante" class="divMap"></div>
        </div>
        <!--
                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Dismissed from dismiss button')">Dismiss</button>
                        <button type="button" class="btn btn-primary" (click)="activeModal.close('Closed from Close button')">Close</button>
                </div>
                -->
        <!--     </div>-->
</div>