/*html {
  background-color: #00b4d0 !important;
}*/


/*@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
*/

body {
    background-image: url(assets/img/bg2.jpg);
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    /* optional, center the image */
}


/* You can add global styles to this file, and also import other style files */

.myCustomModalClass .modal-dialog {
    width: 920px;
    height: 580px;
}

xlModal>modal-content {
    /*max-width: 1490px !important;
    min-width: 971px !important;   
    width: 95% !important;
    */
    width: 1300px;
    /*height: 580px !important;*/
}

.custom-class {
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);
    */
    width: 920px;
    height: 580px;
}

.light-bold {
    font-weight: 600;
}

.form-control-feedback {
    color: red
}

.msj-exitoso {
    color: green
}

.full-width {
    width: 100%;
}


/* Animaciones*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.navbar {
    height: 4rem;
}

.lateral {
    max-height: calc(100vh - 4.3rem);
    overflow-y: scroll;
    padding: 0.5rem;
}

.pad-0 {
    padding: 0;
}

.pad-l-5 {
    padding-left: 5;
}

.splash-text {
    color: white;
    font-size: 35px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}