<div class="container-fluid">
    <div class="row">
        <div class="col-10 " style="margin-top: 30px;
        background: white;">

            <div class="row">
                <div class="col-md-4">
                    <h3>Seleccione archivos</h3>
                    <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{ 'file-over': estaSobreElemento }" class="well drop-zone">
                        <h4>Arrastre aquí los archivos</h4>
                        <img src="assets/img/file128.png">
                    </div>
                </div>
                <div class="col-md-8">
                    <h4>Cargar archivos</h4>
                    <button (click)="cargarArchivos()" [disabled]="archivos.length===0" class="btn btn-success">Importar circuitos</button>
                    <button (click)="limpiarArchivos()" class="btn btn-danger" style="margin: 5px;">Limpiar cargas</button>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre archivo</th>
                                <th>Tamaño</th>
                                <th>Estado</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let archivo of archivos">
                                <td [ngClass]="{ 'text-green': archivo.progreso >= 100 }">{{archivo.nombreArchivo}}</td>
                                <td>{{archivo.archivo.size / 1024 | number:'.2-2'}} MB</td>
                                <td>
                                    <div *ngIf="archivoCargandose==2">
                                        Cargado
                                    </div>
                                    <div *ngIf="archivoCargandose==1">
                                        Cargando...
                                    </div>
                                    <div *ngIf="archivoCargandose==0">
                                        0%
                                    </div>
                                    <!--<div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%" [ngStyle]="{ 'width': archivo.progreso + '%' }"></div>
                                    </div>
                                -->
                                </td>
                            </tr>
                        </tbody>


                    </table>
                </div>
            </div>






        </div>
        <div class="col-2 lateral">
            <app-panel-notificaciones></app-panel-notificaciones>
        </div>
    </div>
</div>