<app-alerta-tarjeta [alerta]="alerta" *ngFor="let alerta of listaAlertas | async ">
</app-alerta-tarjeta>


<!--
<ul>
    <li class="text" *ngFor="let alerta of listaAlertas">
       heartbeat: {{alerta.titulo}} -
       trash_level : {{alerta.municipio}}
    </li>
</ul>
-->