<div class="container-fluid">
    <div class="row">
        <div class="col-10 " style="margin-top: 30px;background: white;">
            <h3>Configuración - Nivel de llenado </h3>
            <br>
            <form>
                <div class="form-group row col-sm-6">
                    <label class="col-sm-2 col-form-label">Bajo</label>
                    <div class="col-sm-2">
                        <input type="text" readonly class="form-control-plaintext" value="0">
                    </div>
                    <div class="col-sm-1">
                        <label class="col-form-label">-</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="form-group row col-sm-6">
                    <label class="col-sm-2 col-form-label">Medio</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-sm-1">
                        <label class="col-form-label">-</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="form-group row col-sm-6">
                    <label class="col-sm-2 col-form-label">Alto</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-sm-1">
                        <label class="col-form-label">-</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" readonly class="form-control-plaintext" value="100">
                    </div>
                </div>
                <div class="row col-sm-6 justify-content-md-center">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
        <div class="col-2 lateral">
            <app-panel-notificaciones></app-panel-notificaciones>
        </div>
    </div>
</div>